Repository kubernetes-sigs/kwok, pull requests merged in 2023-09, with the labels that each got.

#488 add e2e-framework for kwok with kind
  .github/workflows/test.yaml
  go.mod
  go.sum
  hack/e2e-test.sh
  test/e2e/cases.go
  test/e2e/doc.go
  test/e2e/helper/build.go
  test/e2e/helper/doc.go
  test/e2e/helper/kustomize.go
  test/e2e/helper/node.go
  test/e2e/helper/pod.go
  test/e2e/helper/utils.go
  test/e2e/kwok/default/kustomization.yaml
  test/e2e/kwok/default/kwok_test.go
  test/e2e/kwok/default/main_test.go
  test/e2e/kwok/single/kustomization.yaml
  test/e2e/kwok/single/kwok_test.go
  test/e2e/kwok/single/main_test.go
  test/e2e/kwokctl/binary/kwok_test.go
  test/e2e/kwokctl/binary/main_test.go
  test/e2e/kwokctl/docker/kwok_test.go
  test/e2e/kwokctl/docker/main_test.go
  test/e2e/kwokctl/kind-podman/kwok_test.go
  test/e2e/kwokctl/kind-podman/main_test.go
  test/e2e/kwokctl/kind/kwok_test.go
  test/e2e/kwokctl/kind/main_test.go
  test/e2e/kwokctl/nerdctl/kwok_test.go
  test/e2e/kwokctl/nerdctl/main_test.go
  test/e2e/kwokctl/podman/kwok_test.go
  test/e2e/kwokctl/podman/main_test.go
  test/kwok-single-node/fake-deployment.yaml
  test/kwok-single-node/fake-node.yaml
  test/kwok-single-node/kwok-single-node.test.sh
Labels: kind/feature, ok-to-test, size/XXL, approved, lifecycle/stale, cncf-cla: yes, lgtm

#796 feat: compares files with make output
  test/release/build.test.sh
  test/release/cases.txt
  test/release/testdata/build-with-push-bucket-staging.txt
  test/release/testdata/build-with-push-bucket.txt
  test/release/testdata/build-with-push-ghrelease.txt
  test/release/testdata/build.txt
  test/release/testdata/cluster-image-nerdctl-with-push-staging.txt
  test/release/testdata/cluster-image-nerdctl-with-push.txt
  test/release/testdata/cluster-image-nerdctl.txt
  test/release/testdata/cluster-image-podman-with-push-staging.txt
  test/release/testdata/cluster-image-podman-with-push.txt
  test/release/testdata/cluster-image-podman.txt
  test/release/testdata/cluster-image-with-push-staging.txt
  test/release/testdata/cluster-image-with-push.txt
  test/release/testdata/cluster-image.txt
  test/release/testdata/cross-build-with-push-bucket-staging.txt
  test/release/testdata/cross-build-with-push-bucket.txt
  test/release/testdata/cross-build-with-push-ghrelease.txt
  test/release/testdata/cross-build-with-push-staging.txt
  test/release/testdata/cross-build-with-push.txt
  test/release/testdata/cross-build.txt
  test/release/testdata/cross-cluster-image-nerdctl-with-push-staging.txt
  test/release/testdata/cross-cluster-image-nerdctl-with-push.txt
  test/release/testdata/cross-cluster-image-nerdctl.txt
  test/release/testdata/cross-cluster-image-podman-with-push-staging.txt
  test/release/testdata/cross-cluster-image-podman-with-push.txt
  test/release/testdata/cross-cluster-image-podman.txt
  test/release/testdata/cross-cluster-image-with-push-staging.txt
  test/release/testdata/cross-cluster-image-with-push.txt
  test/release/testdata/cross-cluster-image.txt
  test/release/testdata/cross-image-nerdctl-with-push-staging.txt
  test/release/testdata/cross-image-nerdctl-with-push.txt
  test/release/testdata/cross-image-nerdctl.txt
  test/release/testdata/cross-image-podman-with-push-staging.txt
  test/release/testdata/cross-image-podman-with-push.txt
  test/release/testdata/cross-image-podman.txt
  test/release/testdata/cross-image-with-push-staging.txt
  test/release/testdata/cross-image-with-push.txt
  test/release/testdata/cross-image.txt
  test/release/testdata/image-nerdctl-with-push-staging.txt
  test/release/testdata/image-nerdctl-with-push.txt
  test/release/testdata/image-nerdctl.txt
  test/release/testdata/image-podman-with-push-staging.txt
  test/release/testdata/image-podman-with-push.txt
  test/release/testdata/image-podman.txt
  test/release/testdata/image-with-push-staging.txt
  test/release/testdata/image-with-push.txt
  test/release/testdata/image.txt
  test/release/testdata/manifests-with-push-bucket.txt
  test/release/testdata/manifests-with-push-ghrelease.txt
  test/release/testdata/manifests.txt
Labels: ok-to-test, size/XL, approved, kind/cleanup, cncf-cla: yes, lgtm, release-note-none

#801 Create headlamp.yaml
  site/assets/adopters/headlamp.yaml
Labels: ok-to-test, approved, kind/documentation, size/XS, cncf-cla: yes, lgtm, release-note-none
