Repository kubernetes-sigs/kwok, pull requests merged in 2024-07, with the labels that each got.

#1150 [doc] Update the installation documentation
  site/content/en/docs/user/kwok-in-cluster-old.md
  site/content/en/docs/user/kwok-in-cluster.md
Labels: approved, kind/documentation, cncf-cla: yes, release-note-none, size/L

#1149 Add label to automated PR of chart release
  .github/workflows/helm-releases.yaml
Labels: approved, kind/cleanup, size/XS, cncf-cla: yes, release-note-none

#1153 Bump depend
  .dependencies.yaml
  go.mod
  go.sum
  hack/requirements.sh
  images/cluster/Dockerfile
  images/kwok/Dockerfile
  pkg/consts/consts.go
  pkg/kwokctl/k8s/feature_gates_data.go
  site/content/en/docs/generated/kwokctl_create_cluster.md
  site/content/en/docs/user/examples/injectfailure/init-container-error-injection.cast
  site/content/en/docs/user/examples/injectfailure/init-container-error-injection.svg
  supported_releases.txt
  test/kwokctl/testdata/binary/create_cluster.txt
  test/kwokctl/testdata/binary/create_cluster_with_extra.txt
  test/kwokctl/testdata/binary/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/docker/create_cluster.txt
  test/kwokctl/testdata/docker/create_cluster_with_extra.txt
  test/kwokctl/testdata/docker/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/kind-podman/create_cluster.txt
  test/kwokctl/testdata/kind-podman/create_cluster_with_extra.txt
  test/kwokctl/testdata/kind-podman/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/kind/create_cluster.txt
  test/kwokctl/testdata/kind/create_cluster_with_extra.txt
  test/kwokctl/testdata/kind/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/nerdctl/create_cluster.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_extra.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/podman/create_cluster.txt
  test/kwokctl/testdata/podman/create_cluster_with_extra.txt
  test/kwokctl/testdata/podman/create_cluster_with_verbosity.txt
  test/release/testdata/build-with-push-bucket-staging.txt
  test/release/testdata/build-with-push-bucket.txt
  test/release/testdata/build-with-push-ghrelease.txt
  test/release/testdata/build.txt
  test/release/testdata/cluster-image-nerdctl-with-push-staging.txt
  test/release/testdata/cluster-image-nerdctl-with-push.txt
  test/release/testdata/cluster-image-nerdctl.txt
  test/release/testdata/cluster-image-podman-with-push-staging.txt
  test/release/testdata/cluster-image-podman-with-push.txt
  test/release/testdata/cluster-image-podman.txt
  test/release/testdata/cluster-image-with-push-staging.txt
  test/release/testdata/cluster-image-with-push.txt
  test/release/testdata/cluster-image.txt
  test/release/testdata/cross-build-with-push-bucket-staging.txt
  test/release/testdata/cross-build-with-push-bucket.txt
  test/release/testdata/cross-build-with-push-ghrelease.txt
  test/release/testdata/cross-build.txt
  test/release/testdata/cross-cluster-image-nerdctl-with-push-staging.txt
  test/release/testdata/cross-cluster-image-nerdctl-with-push.txt
  test/release/testdata/cross-cluster-image-nerdctl.txt
  test/release/testdata/cross-cluster-image-podman-with-push-staging.txt
  test/release/testdata/cross-cluster-image-podman-with-push.txt
  test/release/testdata/cross-cluster-image-podman.txt
  test/release/testdata/cross-cluster-image-with-push-staging.txt
  test/release/testdata/cross-cluster-image-with-push.txt
  test/release/testdata/cross-cluster-image.txt
Labels: size/XXL, approved, kind/cleanup, kind/documentation, cncf-cla: yes, release-note-none

#1154 Add kwok metrics usage chart
  .ct.yaml
  .github/workflows/helm-lint-test.yaml
  .github/workflows/helm-releases.yaml
  .github/workflows/test.yaml
  charts/metrics-usage/.helmignore
  charts/metrics-usage/Chart.yaml
  charts/metrics-usage/README.md
  charts/metrics-usage/templates/metrics-resource.yaml
  charts/metrics-usage/templates/usage-from-annotation.yaml
  charts/metrics-usage/values.yaml
  hack/releases-helm-charts.sh
  hack/update-helm-charts.sh
Labels: kind/feature, approved, cncf-cla: yes, release-note, size/L

#1156 Fix metrics usage chart
  .github/workflows/helm-lint-test.yaml
  charts/metrics-usage/Chart.yaml
Labels: kind/bug, approved, kind/cleanup, size/S, cncf-cla: yes, release-note-none

#1158 add Aptakube adopter + blogpost
  site/assets/adopters/aptakube.yaml
Labels: ok-to-test, approved, kind/documentation, size/XS, cncf-cla: yes, lgtm, release-note-none

#1159 Add node not ready stage
  kustomize/stage/node/chaos/node-not-ready.yaml
  kustomize/stage/node/chaos/testdata/node-not-ready.input.yaml
  kustomize/stage/node/chaos/testdata/node-not-ready.output.yaml
Labels: kind/feature, approved, cncf-cla: yes, release-note-none, size/L

#1136 Migration for dryrun tests
  .github/workflows/test.yaml
  hack/update-all.sh
  hack/update-testdata.sh
  hack/verify-all.sh
  hack/verify-testdata.sh
  test/e2e/dryrun.go
  test/e2e/kwokctl/dryrun/dryrun_binary_test.go
  test/e2e/kwokctl/dryrun/dryrun_docker_test.go
  test/e2e/kwokctl/dryrun/dryrun_kind_podman_test.go
  test/e2e/kwokctl/dryrun/dryrun_kind_test.go
  test/e2e/kwokctl/dryrun/dryrun_nerdctl_test.go
  test/e2e/kwokctl/dryrun/dryrun_podman_test.go
  test/e2e/kwokctl/dryrun/main_test.go
  test/e2e/kwokctl/dryrun/testdata/binary/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/binary/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/binary/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/docker/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/docker/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/docker/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/kind/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/kind/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/kind/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/podman/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/podman/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/podman/create_cluster_with_verbosity.txt
Labels: ok-to-test, size/XXL, approved, cncf-cla: yes, lgtm, release-note-none

#1162 Add weightFrom to Stages
  kustomize/crd/bases/kwok.x-k8s.io_stages.yaml
  kustomize/stage/node/chaos/node-not-ready.yaml
  kustomize/stage/node/fast/testdata/node-pending.output.yaml
  kustomize/stage/pod/chaos/pod-container-running-failed.yaml
  kustomize/stage/pod/chaos/pod-init-container-running-failed.yaml
  kustomize/stage/pod/fast/testdata/pod-pending.output.yaml
  kustomize/stage/pod/fast/testdata/pod-running-with-job.output.yaml
  kustomize/stage/pod/fast/testdata/pod-terminating.output.yaml
  kustomize/stage/pod/general/pod-complete.yaml
  kustomize/stage/pod/general/pod-create.yaml
  kustomize/stage/pod/general/pod-delete.yaml
  kustomize/stage/pod/general/pod-init-container-completed.yaml
  kustomize/stage/pod/general/pod-init-container-running.yaml
  kustomize/stage/pod/general/pod-ready.yaml
  kustomize/stage/pod/general/pod-remove-finalizer.yaml
  pkg/apis/internalversion/stage_types.go
  pkg/apis/internalversion/zz_generated.conversion.go
  pkg/apis/internalversion/zz_generated.deepcopy.go
  pkg/apis/v1alpha1/stage_types.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/kwok/controllers/node_controller.go
  pkg/kwok/controllers/pod_controller.go
  pkg/kwok/controllers/stage_controller.go
  pkg/tools/stage/stage.go
  pkg/utils/expression/value_duration_from.go
  pkg/utils/expression/value_duration_from_test.go
  pkg/utils/expression/value_int_from.go
  pkg/utils/expression/value_int_from_test.go
  pkg/utils/lifecycle/lifecycle.go
  site/content/en/docs/generated/apis.md
Labels: kind/feature, approved, kind/documentation, kind/api-change, cncf-cla: yes, release-note, size/L

#1165 Release 0.6
  pkg/consts/consts.go
Labels: approved, size/XS, cncf-cla: yes, release-note-none

#1166 Release helm chart 0.1.0
  charts/kwok/Chart.yaml
  charts/metrics-usage/Chart.yaml
  charts/stage-fast/Chart.yaml
Labels: approved, size/S, cncf-cla: yes, release-note-none

#1176 Fix block in e2e test
  hack/e2e-test.sh
  test/e2e/dryrun.go
  test/e2e/kwokctl/dryrun/testdata/docker/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/docker/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/docker/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/kind/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/kind/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/kind/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/podman/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/podman/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/podman/create_cluster_with_verbosity.txt
Labels: approved, kind/failing-test, cncf-cla: yes, kind/flake, release-note-none, size/L

#1178 Fix skip e2e
  hack/e2e-test.sh
Labels: approved, kind/failing-test, size/S, cncf-cla: yes, release-note-none

#1140 Scheduler Testing with KWOK (Technical Outcome)
  site/config.yaml
  site/content/en/_index.md
  site/content/en/docs/technical-outcomes/scheduling/_index.md
  site/content/en/docs/technical-outcomes/scheduling/limit-range/_index.md
  site/content/en/docs/technical-outcomes/scheduling/limit-range/limit-range.cast
  site/content/en/docs/technical-outcomes/scheduling/limit-range/limit-range.demo
  site/content/en/docs/technical-outcomes/scheduling/limit-range/limit-range.svg
  site/content/en/docs/technical-outcomes/scheduling/limit-range/limit-range.yaml
  site/content/en/docs/technical-outcomes/scheduling/limit-range/pod-beyond-limit.yaml
  site/content/en/docs/technical-outcomes/scheduling/limit-range/pod-within-limit.yaml
  site/content/en/docs/technical-outcomes/scheduling/node-affinity/_index.md
  site/content/en/docs/technical-outcomes/scheduling/node-affinity/node-affinity.cast
  site/content/en/docs/technical-outcomes/scheduling/node-affinity/node-affinity.demo
  site/content/en/docs/technical-outcomes/scheduling/node-affinity/node-affinity.svg
  site/content/en/docs/technical-outcomes/scheduling/node-affinity/pod.yaml
  site/content/en/docs/technical-outcomes/scheduling/pod-priority-and-preemption/_index.md
  site/content/en/docs/technical-outcomes/scheduling/pod-priority-and-preemption/high-priority-pod.yaml
  site/content/en/docs/technical-outcomes/scheduling/pod-priority-and-preemption/low-priority-pod.yaml
  site/content/en/docs/technical-outcomes/scheduling/pod-priority-and-preemption/pod-priority-and-preemption.cast
  site/content/en/docs/technical-outcomes/scheduling/pod-priority-and-preemption/pod-priority-and-preemption.demo
  site/content/en/docs/technical-outcomes/scheduling/pod-priority-and-preemption/pod-priority-and-preemption.svg
  site/content/en/docs/technical-outcomes/scheduling/pod-priority-and-preemption/priority-classes.yaml
  site/content/en/docs/technical-outcomes/scheduling/pod-topology-spread-constraint/_index.md
  site/content/en/docs/technical-outcomes/scheduling/pod-topology-spread-constraint/deployment.yaml
  site/content/en/docs/technical-outcomes/scheduling/pod-topology-spread-constraint/pod-topology-spread-constraint.cast
  site/content/en/docs/technical-outcomes/scheduling/pod-topology-spread-constraint/pod-topology-spread-constraint.demo
  site/content/en/docs/technical-outcomes/scheduling/pod-topology-spread-constraint/pod-topology-spread-constraint.svg
  site/content/en/docs/technical-outcomes/scheduling/requests-and-limits/_index.md
  site/content/en/docs/technical-outcomes/scheduling/requests-and-limits/pod-1.yaml
  site/content/en/docs/technical-outcomes/scheduling/requests-and-limits/pod-2.yaml
  site/content/en/docs/technical-outcomes/scheduling/requests-and-limits/requests-and-limits.cast
  site/content/en/docs/technical-outcomes/scheduling/requests-and-limits/requests-and-limits.demo
  site/content/en/docs/technical-outcomes/scheduling/requests-and-limits/requests-and-limits.svg
  site/content/en/docs/technical-outcomes/scheduling/taints-and-tolerations/_index.md
  site/content/en/docs/technical-outcomes/scheduling/taints-and-tolerations/no-toleration-pod.yaml
  site/content/en/docs/technical-outcomes/scheduling/taints-and-tolerations/taints-and-tolerations.cast
  site/content/en/docs/technical-outcomes/scheduling/taints-and-tolerations/taints-and-tolerations.demo
  site/content/en/docs/technical-outcomes/scheduling/taints-and-tolerations/taints-and-tolerations.svg
  site/content/en/docs/technical-outcomes/scheduling/taints-and-tolerations/with-toleration-pod.yaml
Labels: kind/feature, ok-to-test, size/XXL, approved, kind/documentation, cncf-cla: yes, lgtm, release-note-none

#1173 Migration for dryrun tests to e2e
  test/e2e/export_logs.go
  test/e2e/kwokctl/binary/kubectl_test.go
  test/e2e/kwokctl/binary/main_test.go
  test/e2e/kwokctl/docker/kubectl_test.go
  test/e2e/kwokctl/docker/main_test.go
  test/e2e/kwokctl/dryrun/testdata/binary/export_logs.txt
  test/e2e/kwokctl/dryrun/testdata/binary/snapshot_restore_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/binary/snapshot_save_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/binary/start_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/binary/stop_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/docker/export_logs.txt
  test/e2e/kwokctl/dryrun/testdata/docker/snapshot_restore_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/docker/snapshot_save_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/docker/start_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/docker/stop_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/export_logs.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/snapshot_restore_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/snapshot_save_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/start_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/stop_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/kind/export_logs.txt
  test/e2e/kwokctl/dryrun/testdata/kind/snapshot_restore_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/kind/snapshot_save_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/kind/start_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/kind/stop_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/export_logs.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/snapshot_restore_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/snapshot_save_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/start_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/stop_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/podman/export_logs.txt
  test/e2e/kwokctl/dryrun/testdata/podman/snapshot_restore_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/podman/snapshot_save_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/podman/start_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/podman/stop_cluster.txt
  test/e2e/kwokctl/kind-podman/kubectl_test.go
  test/e2e/kwokctl/kind-podman/main_test.go
  test/e2e/kwokctl/kind/kubectl_test.go
  test/e2e/kwokctl/kind/main_test.go
  test/e2e/kwokctl/nerdctl/kubectl_test.go
  test/e2e/kwokctl/nerdctl/main_test.go
  test/e2e/kwokctl/podman/kubectl_test.go
  test/e2e/kwokctl/podman/main_test.go
  test/e2e/restart.go
  test/e2e/snapshot.go
Labels: kind/feature, ok-to-test, size/XL, approved, cncf-cla: yes, lgtm, release-note-none

#1175 Deprecated kwok with cni
  .github/workflows/test.yaml
  pkg/apis/config/v1alpha1/kwok_configuration_types.go
  pkg/apis/internalversion/kwok_configuration_types.go
  pkg/kwok/cmd/root.go
  site/content/en/docs/generated/apis.md
  site/content/en/docs/generated/kwok.md
  test/kwok-with-cni/fake-deployment.yaml
  test/kwok-with-cni/fake-node.yaml
  test/kwok-with-cni/kustomization.yaml
  test/kwok-with-cni/kwok-with-cni.test.sh
Labels: kind/feature, approved, kind/cleanup, kind/documentation, kind/api-change, cncf-cla: yes, release-note, kind/flake, size/L
