Repository kubernetes-sigs/kwok, pull requests merged in 2024-01, with the labels that each got.

#900 e2e increase the timeout to avoid fail
  test/e2e/helper/cluster.go
  test/e2e/helper/utils.go
Labels: approved, size/S, kind/api-change, cncf-cla: yes, kind/flake, release-note-none

#899 Fix the logic of the node leases
  pkg/kwok/controllers/controller.go
  pkg/kwok/controllers/node_lease_controller.go
  pkg/kwok/controllers/node_lease_controller_test.go
Labels: kind/bug, approved, kind/api-change, cncf-cla: yes, release-note, size/L

#888 [kwok] Add stages manager for update stage controllers
  kustomize/kwok/deployment.yaml
  kustomize/rbac/role.yaml
  pkg/apis/config/v1alpha1/kwok_configuration_types.go
  pkg/apis/config/v1alpha1/kwokctl_configuration_types.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/apis/internalversion/kwok_configuration_types.go
  pkg/apis/internalversion/kwokctl_configuration_types.go
  pkg/apis/internalversion/zz_generated.conversion.go
  pkg/apis/internalversion/zz_generated.deepcopy.go
  pkg/apis/v1alpha1/attach_types.go
  pkg/apis/v1alpha1/cluster_attach_types.go
  pkg/apis/v1alpha1/cluster_exec_types.go
  pkg/apis/v1alpha1/cluster_logs_types.go
  pkg/apis/v1alpha1/cluster_port_forward_types.go
  pkg/apis/v1alpha1/exec_types.go
  pkg/apis/v1alpha1/logs_types.go
  pkg/apis/v1alpha1/metric_types.go
  pkg/apis/v1alpha1/port_forward_types.go
  pkg/apis/v1alpha1/stage_types.go
  pkg/kwok/cmd/root.go
  pkg/kwok/controllers/controller.go
  pkg/kwok/controllers/stages_manager.go
  pkg/kwokctl/cmd/create/cluster/cluster.go
  pkg/kwokctl/components/kwok_controller.go
  pkg/kwokctl/runtime/binary/cluster.go
  pkg/kwokctl/runtime/compose/cluster.go
  pkg/kwokctl/runtime/kind/cluster.go
  site/content/en/docs/generated/apis.md
  site/content/en/docs/generated/kwok.md
  site/content/en/docs/generated/kwokctl_create_cluster.md
  test/e2e/kwok/default/kwok_test.go
  test/e2e/stage.go
  test/e2e/stage.yaml
  test/kwokctl/testdata/binary/create_cluster.txt
  test/kwokctl/testdata/binary/create_cluster_with_extra.txt
  test/kwokctl/testdata/binary/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/binary/start_cluster.txt
  test/kwokctl/testdata/docker/create_cluster.txt
  test/kwokctl/testdata/docker/create_cluster_with_extra.txt
  test/kwokctl/testdata/docker/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/kind-podman/create_cluster.txt
  test/kwokctl/testdata/kind-podman/create_cluster_with_extra.txt
  test/kwokctl/testdata/kind-podman/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/kind/create_cluster.txt
  test/kwokctl/testdata/kind/create_cluster_with_extra.txt
  test/kwokctl/testdata/kind/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/nerdctl/create_cluster.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_extra.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/podman/create_cluster.txt
  test/kwokctl/testdata/podman/create_cluster_with_extra.txt
  test/kwokctl/testdata/podman/create_cluster_with_verbosity.txt
Labels: kind/feature, size/XL, approved, kind/documentation, kind/api-change, cncf-cla: yes, release-note

#905 Clean up components patches
  pkg/kwokctl/components/etcd.go
  pkg/kwokctl/components/jaeger.go
  pkg/kwokctl/components/kube_apiserver.go
  pkg/kwokctl/components/kube_controller_manager.go
  pkg/kwokctl/components/kube_scheduler.go
  pkg/kwokctl/components/kwok_controller.go
  pkg/kwokctl/components/prometheus.go
  pkg/kwokctl/components/utils.go
  pkg/kwokctl/runtime/binary/cluster.go
  pkg/kwokctl/runtime/compose/cluster.go
  pkg/kwokctl/runtime/kind/cluster.go
  pkg/kwokctl/runtime/kind/kind.yaml.tpl
  pkg/kwokctl/runtime/util.go
  test/kwokctl/testdata/binary/create_cluster_with_extra.txt
  test/kwokctl/testdata/docker/create_cluster_with_extra.txt
  test/kwokctl/testdata/kind-podman/create_cluster_with_extra.txt
  test/kwokctl/testdata/kind-podman/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/kind/create_cluster_with_extra.txt
  test/kwokctl/testdata/kind/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_extra.txt
  test/kwokctl/testdata/podman/create_cluster_with_extra.txt
Labels: size/XL, approved, kind/cleanup, cncf-cla: yes, release-note-none

#892 [kwok] return immediately if any error occurs when applying a Stage
  pkg/kwok/controllers/node_controller.go
  pkg/kwok/controllers/pod_controller.go
  pkg/kwok/controllers/stage_controller.go
  site/content/en/docs/user/stages-configuration.md
Labels: kind/bug, ok-to-test, tide/merge-method-squash, approved, kind/documentation, cncf-cla: yes, lgtm, release-note-none, size/L

#897 Bump k8s 1.29 and clean up
  .github/workflows/test.yaml
  go.mod
  go.sum
  pkg/apis/config/v1alpha1/kwokctl_configuration_types.go
  pkg/apis/internalversion/kwokctl_configuration_types.go
  pkg/apis/internalversion/zz_generated.conversion.go
  pkg/kwokctl/k8s/etcd.go
  pkg/kwokctl/k8s/feature_gates_data.go
  site/content/en/docs/generated/apis.md
  site/content/en/docs/generated/kwokctl_create_cluster.md
  supported_releases.txt
  test/kwokctl/testdata/binary/create_cluster.txt
  test/kwokctl/testdata/binary/create_cluster_with_extra.txt
  test/kwokctl/testdata/binary/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/binary/snapshot_restore_etcd.txt
  test/kwokctl/testdata/binary/snapshot_save_etcd.txt
  test/kwokctl/testdata/docker/create_cluster.txt
  test/kwokctl/testdata/docker/create_cluster_with_extra.txt
  test/kwokctl/testdata/docker/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/docker/snapshot_restore_etcd.txt
  test/kwokctl/testdata/kind-podman/snapshot_restore_etcd.txt
  test/kwokctl/testdata/kind/snapshot_restore_etcd.txt
  test/kwokctl/testdata/nerdctl/create_cluster.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_extra.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/nerdctl/snapshot_restore_etcd.txt
  test/kwokctl/testdata/podman/create_cluster.txt
  test/kwokctl/testdata/podman/create_cluster_with_extra.txt
  test/kwokctl/testdata/podman/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/podman/snapshot_restore_etcd.txt
  test/release/testdata/build-with-push-bucket-staging.txt
  test/release/testdata/build-with-push-bucket.txt
  test/release/testdata/build-with-push-ghrelease.txt
  test/release/testdata/build.txt
  test/release/testdata/cluster-image-nerdctl-with-push-staging.txt
  test/release/testdata/cluster-image-nerdctl-with-push.txt
  test/release/testdata/cluster-image-nerdctl.txt
  test/release/testdata/cluster-image-podman-with-push-staging.txt
  test/release/testdata/cluster-image-podman-with-push.txt
  test/release/testdata/cluster-image-podman.txt
  test/release/testdata/cluster-image-with-push-staging.txt
  test/release/testdata/cluster-image-with-push.txt
  test/release/testdata/cluster-image.txt
  test/release/testdata/cross-build-with-push-bucket-staging.txt
  test/release/testdata/cross-build-with-push-bucket.txt
  test/release/testdata/cross-build-with-push-ghrelease.txt
  test/release/testdata/cross-build.txt
  test/release/testdata/cross-cluster-image-nerdctl-with-push-staging.txt
  test/release/testdata/cross-cluster-image-nerdctl-with-push.txt
  test/release/testdata/cross-cluster-image-nerdctl.txt
  test/release/testdata/cross-cluster-image-podman-with-push-staging.txt
  test/release/testdata/cross-cluster-image-podman-with-push.txt
  test/release/testdata/cross-cluster-image-podman.txt
  test/release/testdata/cross-cluster-image-with-push-staging.txt
  test/release/testdata/cross-cluster-image-with-push.txt
  test/release/testdata/cross-cluster-image.txt
Labels: size/XL, approved, kind/cleanup, kind/documentation, kind/api-change, cncf-cla: yes, release-note-none

#909 ci: Update the docker on MacOS
  .github/workflows/test.yaml
Labels: approved, kind/cleanup, size/XS, cncf-cla: yes, kind/flake, release-note-none

#907 clarify how delay is calculated
  site/content/en/docs/user/stages-configuration.md
Labels: tide/merge-method-squash, approved, needs-ok-to-test, kind/documentation, cncf-cla: yes, lgtm, size/M, release-note-none

#859 [kwokctl] Add hack subcommand for etcd operation
  go.mod
  go.sum
  pkg/kwokctl/cmd/hack/del/del.go
  pkg/kwokctl/cmd/hack/get/get.go
  pkg/kwokctl/cmd/hack/hack.go
  pkg/kwokctl/cmd/hack/put/put.go
  pkg/kwokctl/cmd/root.go
  pkg/kwokctl/etcd/client.go
  pkg/kwokctl/etcd/doc.go
  pkg/kwokctl/etcd/etcd.go
  pkg/kwokctl/etcd/etcd_test.go
  pkg/kwokctl/etcd/init.go
  pkg/kwokctl/etcd/scheme.go
  pkg/kwokctl/etcd/scheme.sh
  pkg/kwokctl/runtime/cluster_snapshot.go
  pkg/kwokctl/runtime/compose/cluster.go
  pkg/kwokctl/runtime/config.go
  pkg/kwokctl/runtime/kind/cluster.go
  pkg/kwokctl/runtime/kind/cluster_snapshot.go
  pkg/utils/client/util.go
  pkg/utils/exec/exec.go
  site/content/en/docs/generated/kwokctl.md
  site/content/en/docs/generated/kwokctl_hack.md
  site/content/en/docs/generated/kwokctl_hack_delete.md
  site/content/en/docs/generated/kwokctl_hack_get.md
  site/content/en/docs/generated/kwokctl_hack_put.md
  test/e2e/hack.go
  test/e2e/kwokctl/binary/kubectl_test.go
  test/e2e/kwokctl/docker/kubectl_test.go
  test/e2e/kwokctl/kind-podman/kubectl_test.go
  test/e2e/kwokctl/kind/kubectl_test.go
  test/e2e/kwokctl/nerdctl/kubectl_test.go
  test/e2e/kwokctl/podman/kubectl_test.go
  test/kwokctl/testdata/docker/create_cluster.txt
  test/kwokctl/testdata/docker/create_cluster_with_extra.txt
  test/kwokctl/testdata/docker/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/kind-podman/create_cluster.txt
  test/kwokctl/testdata/kind-podman/create_cluster_with_extra.txt
  test/kwokctl/testdata/kind-podman/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/kind/create_cluster.txt
  test/kwokctl/testdata/kind/create_cluster_with_extra.txt
  test/kwokctl/testdata/kind/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/nerdctl/create_cluster.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_extra.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/podman/create_cluster.txt
  test/kwokctl/testdata/podman/create_cluster_with_extra.txt
  test/kwokctl/testdata/podman/create_cluster_with_verbosity.txt
Labels: kind/feature, size/XXL, approved, kind/documentation, cncf-cla: yes, release-note

#918 Fix flaky unit test
  pkg/kwok/controllers/pod_controller_test.go
Labels: approved, kind/failing-test, size/XS, cncf-cla: yes, kind/flake, release-note-none

#919 Add done for queue
  pkg/kwok/controllers/controller.go
  pkg/kwok/controllers/node_controller.go
  pkg/kwok/controllers/node_lease_controller.go
  pkg/kwok/controllers/pod_controller.go
  pkg/kwok/controllers/stage_controller.go
  pkg/utils/queue/queue.go
  pkg/utils/queue/weight_queue.go
Labels: approved, kind/cleanup, cncf-cla: yes, size/M, release-note-none

#924 Fix hangs when no https server is available
  go.mod
  go.sum
  pkg/kwok/server/server.go
Labels: kind/bug, approved, size/S, cncf-cla: yes, release-note

#920 add support for impersonating dynamic client and configuring subresource
  kustomize/crd/bases/kwok.x-k8s.io_stages.yaml
  pkg/apis/internalversion/stage_types.go
  pkg/apis/internalversion/zz_generated.conversion.go
  pkg/apis/internalversion/zz_generated.deepcopy.go
  pkg/apis/v1alpha1/stage_types.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/v1alpha1/zz_generated.defaults.go
  pkg/kwok/cmd/root.go
  pkg/kwok/controllers/controller.go
  pkg/kwok/controllers/stage_controller.go
  pkg/utils/client/clientset.go
  pkg/utils/client/impersonator.go
  site/content/en/docs/generated/apis.md
Labels: ok-to-test, approved, kind/documentation, kind/api-change, cncf-cla: yes, release-note, lgtm, size/L

#734 [kwokctl] Integrate metrics-server
  kustomize/kwokctl/resource/node.yaml
  pkg/apis/config/v1alpha1/kwokctl_configuration_types.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/apis/internalversion/kwokctl_configuration_types.go
  pkg/apis/internalversion/zz_generated.conversion.go
  pkg/config/vars.go
  pkg/consts/consts.go
  pkg/kwokctl/cmd/create/cluster/cluster.go
  pkg/kwokctl/cmd/logs/logs.go
  pkg/kwokctl/components/kube_apiserver.go
  pkg/kwokctl/components/metrics_server.go
  pkg/kwokctl/components/metrics_server_apiservice.go
  pkg/kwokctl/components/metrics_server_apiservice.yaml.tpl
  pkg/kwokctl/runtime/binary/cluster.go
  pkg/kwokctl/runtime/cluster.go
  pkg/kwokctl/runtime/compose/cluster.go
  pkg/kwokctl/runtime/config.go
  pkg/kwokctl/runtime/kind/cluster.go
  pkg/utils/version/version.go
  pkg/utils/version/version_test.go
  site/content/en/docs/generated/apis.md
  site/content/en/docs/generated/kwokctl.md
  site/content/en/docs/generated/kwokctl_create_cluster.md
  site/content/en/docs/generated/kwokctl_logs.md
  test/kwokctl/kwokctl_with_dryrun.test.sh
  test/kwokctl/kwokctl_workable_test.sh
  test/kwokctl/metric-node-resource.yaml
  test/kwokctl/testdata/binary/create_cluster.txt
  test/kwokctl/testdata/binary/create_cluster_with_extra.txt
  test/kwokctl/testdata/binary/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/binary/start_cluster.txt
  test/kwokctl/testdata/docker/create_cluster.txt
  test/kwokctl/testdata/docker/create_cluster_with_extra.txt
  test/kwokctl/testdata/docker/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/kind-podman/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/kind/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/nerdctl/create_cluster.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_extra.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/podman/create_cluster.txt
  test/kwokctl/testdata/podman/create_cluster_with_extra.txt
  test/kwokctl/testdata/podman/create_cluster_with_verbosity.txt
Labels: kind/feature, size/XXL, approved, kind/documentation, kind/api-change, cncf-cla: yes, release-note

#740 Add Resource Usage API
  Makefile
  kustomize/crd/bases/kwok.x-k8s.io_clusterresourceusages.yaml
  kustomize/crd/bases/kwok.x-k8s.io_resourceusages.yaml
  kustomize/crd/embed.go
  kustomize/kwokctl/resource/pod.yaml
  kustomize/metrics/resource/kustomization.yaml
  kustomize/metrics/resource/metrics-resource.yaml
  kustomize/metrics/usage/kustomization.yaml
  kustomize/metrics/usage/usage-from-annotation.yaml
  kustomize/rbac/role.yaml
  pkg/apis/internalversion/cluster_resource_usage_types.go
  pkg/apis/internalversion/conversion.go
  pkg/apis/internalversion/resource_usage_types.go
  pkg/apis/internalversion/zz_generated.conversion.go
  pkg/apis/internalversion/zz_generated.deepcopy.go
  pkg/apis/v1alpha1/cluster_resource_usage_types.go
  pkg/apis/v1alpha1/resource_usage_types.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/client/clientset/versioned/typed/apis/v1alpha1/apis_client.go
  pkg/client/clientset/versioned/typed/apis/v1alpha1/clusterresourceusage.go
  pkg/client/clientset/versioned/typed/apis/v1alpha1/fake/fake_apis_client.go
  pkg/client/clientset/versioned/typed/apis/v1alpha1/fake/fake_clusterresourceusage.go
  pkg/client/clientset/versioned/typed/apis/v1alpha1/fake/fake_resourceusage.go
  pkg/client/clientset/versioned/typed/apis/v1alpha1/generated_expansion.go
  pkg/client/clientset/versioned/typed/apis/v1alpha1/resourceusage.go
  pkg/config/config.go
  pkg/kwok/cmd/root.go
  pkg/kwok/metrics/cel/evaluate.go
  pkg/kwok/metrics/cel/evaluate_test.go
  pkg/kwok/metrics/cel/quantity.go
  pkg/kwok/metrics/cel/resource_list.go
  pkg/kwok/server/metrics.go
  pkg/kwok/server/metrics_resource_usage.go
  pkg/kwok/server/server.go
  pkg/kwokctl/components/metrics_server.go
  pkg/kwokctl/components/metrics_server_apiservice.yaml.tpl
  pkg/kwokctl/runtime/cluster.go
  pkg/kwokctl/runtime/kind/cluster.go
  site/content/en/docs/generated/apis.md
  test/e2e/helper/node.go
  test/e2e/kwokctl/binary/kubectl_test.go
  test/e2e/kwokctl/binary/main_test.go
  test/e2e/kwokctl/docker/kubectl_test.go
  test/e2e/kwokctl/docker/main_test.go
  test/e2e/kwokctl/kind-podman/kubectl_test.go
  test/e2e/kwokctl/kind-podman/main_test.go
  test/e2e/kwokctl/kind/kubectl_test.go
  test/e2e/kwokctl/kind/main_test.go
  test/e2e/kwokctl/nerdctl/kubectl_test.go
  test/e2e/kwokctl/nerdctl/main_test.go
  test/e2e/kwokctl/podman/kubectl_test.go
  test/e2e/kwokctl/podman/main_test.go
  test/e2e/resource_usage.go
  test/kwokctl/metric-node-resource.yaml
  test/kwokctl/testdata/binary/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/docker/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/kind-podman/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/kind/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/podman/create_cluster_with_verbosity.txt
Labels: kind/feature, size/XXL, approved, kind/documentation, kind/api-change, cncf-cla: yes, release-note

#911 [KWOK] retry when applying Stages fails
  pkg/kwok/controllers/node_controller.go
  pkg/kwok/controllers/pod_controller.go
  pkg/kwok/controllers/stage_controller.go
  pkg/kwok/controllers/utils.go
  pkg/kwok/controllers/utils_test.go
Labels: kind/feature, ok-to-test, tide/merge-method-squash, approved, cncf-cla: yes, lgtm, release-note-none, size/L

#880 [kwokctl] Support record and replay using the etcd operation
  go.mod
  go.sum
  hack/update-codegen.sh
  pkg/apis/action/v1alpha1/doc.go
  pkg/apis/action/v1alpha1/groupversion_info.go
  pkg/apis/action/v1alpha1/resource_patch_types.go
  pkg/apis/action/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/action/v1alpha1/zz_generated.defaults.go
  pkg/kwokctl/cmd/snapshot/record/record.go
  pkg/kwokctl/cmd/snapshot/replay/replay.go
  pkg/kwokctl/cmd/snapshot/snapshot.go
  pkg/kwokctl/etcd/load.go
  pkg/kwokctl/etcd/patch_meta.go
  pkg/kwokctl/etcd/save.go
  pkg/kwokctl/recording/api.go
  pkg/kwokctl/recording/doc.go
  pkg/kwokctl/recording/handle.go
  pkg/kwokctl/recording/speed.go
  pkg/kwokctl/recording/speed_test.go
  pkg/kwokctl/recording/time.go
  pkg/kwokctl/recording/time_test.go
  pkg/kwokctl/runtime/cluster.go
  pkg/kwokctl/runtime/config.go
  pkg/utils/exec/exec.go
  pkg/utils/yaml/decoder.go
  site/content/en/docs/generated/apis.md
  site/content/en/docs/generated/kwokctl.md
  site/content/en/docs/generated/kwokctl_snapshot.md
  site/content/en/docs/generated/kwokctl_snapshot_export.md
  site/content/en/docs/generated/kwokctl_snapshot_record.md
  site/content/en/docs/generated/kwokctl_snapshot_replay.md
  site/content/en/docs/generated/kwokctl_snapshot_restore.md
  site/content/en/docs/generated/kwokctl_snapshot_save.md
  test/e2e/helper/utils.go
  test/e2e/kwokctl/binary/kubectl_test.go
  test/e2e/kwokctl/docker/kubectl_test.go
  test/e2e/kwokctl/kind-podman/kubectl_test.go
  test/e2e/kwokctl/kind/kubectl_test.go
  test/e2e/kwokctl/nerdctl/kubectl_test.go
  test/e2e/kwokctl/podman/kubectl_test.go
  test/e2e/recording.go
Labels: kind/feature, size/XXL, approved, kind/documentation, kind/api-change, cncf-cla: yes, release-note

#931 Support lazy cache for informer
  pkg/kwok/controllers/controller.go
  pkg/utils/informer/informer.go
Labels: approved, kind/cleanup, cncf-cla: yes, release-note-none, size/L

#930 Bump depends
  .github/workflows/releases.yaml
  .github/workflows/test.yaml
  go.mod
  go.sum
  hack/requirements.sh
  kustomize/crd/bases/kwok.x-k8s.io_attaches.yaml
  kustomize/crd/bases/kwok.x-k8s.io_clusterattaches.yaml
  kustomize/crd/bases/kwok.x-k8s.io_clusterexecs.yaml
  kustomize/crd/bases/kwok.x-k8s.io_clusterlogs.yaml
  kustomize/crd/bases/kwok.x-k8s.io_clusterportforwards.yaml
  kustomize/crd/bases/kwok.x-k8s.io_clusterresourceusages.yaml
  kustomize/crd/bases/kwok.x-k8s.io_execs.yaml
  kustomize/crd/bases/kwok.x-k8s.io_logs.yaml
  kustomize/crd/bases/kwok.x-k8s.io_metrics.yaml
  kustomize/crd/bases/kwok.x-k8s.io_portforwards.yaml
  kustomize/crd/bases/kwok.x-k8s.io_resourceusages.yaml
  kustomize/crd/bases/kwok.x-k8s.io_stages.yaml
  pkg/consts/consts.go
  site/content/en/docs/generated/kwokctl_create_cluster.md
  test/kwokctl/testdata/binary/create_cluster.txt
  test/kwokctl/testdata/binary/create_cluster_with_extra.txt
  test/kwokctl/testdata/binary/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/docker/create_cluster.txt
  test/kwokctl/testdata/docker/create_cluster_with_extra.txt
  test/kwokctl/testdata/docker/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/kind-podman/create_cluster.txt
  test/kwokctl/testdata/kind-podman/create_cluster_with_extra.txt
  test/kwokctl/testdata/kind-podman/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/kind/create_cluster.txt
  test/kwokctl/testdata/kind/create_cluster_with_extra.txt
  test/kwokctl/testdata/kind/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/nerdctl/create_cluster.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_extra.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/podman/create_cluster.txt
  test/kwokctl/testdata/podman/create_cluster_with_extra.txt
  test/kwokctl/testdata/podman/create_cluster_with_verbosity.txt
Labels: size/XXL, approved, kind/cleanup, kind/documentation, cncf-cla: yes, release-note-none

#940 Bump alpine
  images/cluster/Dockerfile
  images/kwok/Dockerfile
Labels: approved, kind/cleanup, kind/documentation, size/XS, cncf-cla: yes, lgtm, release-note-none

#941 [kwokctl] Support modify etcd prefix when create cluster
  pkg/apis/config/v1alpha1/kwokctl_configuration_types.go
  pkg/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/apis/internalversion/kwokctl_configuration_types.go
  pkg/apis/internalversion/zz_generated.conversion.go
  pkg/kwokctl/cmd/create/cluster/cluster.go
  pkg/kwokctl/cmd/hack/del/del.go
  pkg/kwokctl/cmd/hack/get/get.go
  pkg/kwokctl/cmd/hack/put/put.go
  pkg/kwokctl/cmd/snapshot/record/record.go
  pkg/kwokctl/cmd/snapshot/replay/replay.go
  pkg/kwokctl/components/kube_apiserver.go
  pkg/kwokctl/runtime/binary/cluster.go
  pkg/kwokctl/runtime/compose/cluster.go
  site/content/en/docs/generated/apis.md
  site/content/en/docs/generated/kwokctl_create_cluster.md
  site/content/en/docs/generated/kwokctl_hack_delete.md
  site/content/en/docs/generated/kwokctl_hack_get.md
  site/content/en/docs/generated/kwokctl_hack_put.md
  site/content/en/docs/generated/kwokctl_snapshot_record.md
  site/content/en/docs/generated/kwokctl_snapshot_replay.md
Labels: kind/feature, approved, kind/documentation, kind/api-change, cncf-cla: yes, release-note, size/M

#937 add ut for tail
  pkg/utils/tail/tail_test.go
Labels: ok-to-test, approved, cncf-cla: yes, lgtm, release-note-none, size/L

#933 [kwokctl] add --heartbeat-factor for cluster creation parameters
  pkg/apis/config/v1alpha1/kwokctl_configuration_types.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/apis/internalversion/kwokctl_configuration_types.go
  pkg/apis/internalversion/zz_generated.conversion.go
  pkg/kwokctl/cmd/create/cluster/cluster.go
  site/content/en/docs/generated/apis.md
  site/content/en/docs/generated/kwokctl_create_cluster.md
  test/kwokctl/testdata/binary/create_cluster.txt
  test/kwokctl/testdata/binary/create_cluster_with_extra.txt
  test/kwokctl/testdata/binary/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/binary/start_cluster.txt
  test/kwokctl/testdata/docker/create_cluster.txt
  test/kwokctl/testdata/docker/create_cluster_with_extra.txt
  test/kwokctl/testdata/docker/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/nerdctl/create_cluster.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_extra.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/podman/create_cluster.txt
  test/kwokctl/testdata/podman/create_cluster_with_extra.txt
  test/kwokctl/testdata/podman/create_cluster_with_verbosity.txt
Labels: kind/feature, approved, kind/documentation, kind/api-change, cncf-cla: yes, release-note, size/L

#943 [kwokctl] Optimize binary and image download logic
  pkg/kwokctl/runtime/binary/cluster.go
  pkg/kwokctl/runtime/cluster.go
  pkg/kwokctl/runtime/compose/cluster.go
  pkg/kwokctl/runtime/exec.go
  pkg/kwokctl/runtime/file.go
  pkg/kwokctl/runtime/kind/cluster.go
  pkg/utils/exec/pull.go
  test/kwokctl/testdata/binary/create_cluster.txt
  test/kwokctl/testdata/binary/create_cluster_with_extra.txt
  test/kwokctl/testdata/binary/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/docker/create_cluster_with_extra.txt
  test/kwokctl/testdata/docker/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/kind-podman/create_cluster.txt
  test/kwokctl/testdata/kind-podman/create_cluster_with_extra.txt
  test/kwokctl/testdata/kind-podman/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/kind/create_cluster.txt
  test/kwokctl/testdata/kind/create_cluster_with_extra.txt
  test/kwokctl/testdata/kind/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_extra.txt
  test/kwokctl/testdata/nerdctl/create_cluster_with_verbosity.txt
  test/kwokctl/testdata/podman/create_cluster_with_extra.txt
  test/kwokctl/testdata/podman/create_cluster_with_verbosity.txt
Labels: size/XL, approved, kind/cleanup, cncf-cla: yes, release-note-none
