Repository kubernetes-sigs/kwok, pull requests merged in 2024-09, with the labels that each got.

#1215 Fix flake test
  test/e2e/benchmark.go
  test/e2e/workable.go
Labels: approved, cncf-cla: yes, size/M, kind/flake, release-note-none

#1221 add flag --etcd-quota-backend-size
  pkg/apis/config/v1alpha1/kwokctl_configuration_types.go
  pkg/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/apis/internalversion/kwokctl_configuration_types.go
  pkg/apis/internalversion/zz_generated.conversion.go
  pkg/kwokctl/cmd/create/cluster/cluster.go
  pkg/kwokctl/components/etcd.go
  pkg/kwokctl/runtime/binary/cluster.go
  pkg/kwokctl/runtime/compose/cluster.go
  pkg/kwokctl/runtime/kind/cluster.go
  pkg/kwokctl/runtime/kind/kind.go
  site/content/en/docs/generated/apis.md
  site/content/en/docs/generated/kwokctl_create_cluster.md
  test/e2e/kwokctl/dryrun/testdata/kind-podman/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/kind/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/kind/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/kind/create_cluster_with_verbosity.txt
Labels: kind/feature, ok-to-test, approved, kind/documentation, kind/api-change, cncf-cla: yes, release-note, lgtm, size/L

#1225 Fix broken links dependency for prometheus component
  pkg/kwokctl/components/prometheus.go
  pkg/kwokctl/runtime/binary/cluster.go
  pkg/kwokctl/runtime/compose/cluster.go
  pkg/kwokctl/runtime/kind/cluster.go
  test/e2e/kwokctl/dryrun/testdata/docker/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/docker/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/podman/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/podman/create_cluster_with_verbosity.txt
Labels: kind/bug, ok-to-test, approved, cncf-cla: yes, lgtm, release-note-none, size/L

#1006 Refactor the all-in-one image and keep it alive
  images/cluster/Dockerfile
  images/cluster/entrypoint.sh
  site/content/en/docs/user/all-in-one-image.md
Labels: kind/feature, approved, kind/cleanup, kind/documentation, lifecycle/rotten, cncf-cla: yes, release-note, size/L

#1232 [kwokctl] Fix disable kube-controller-manager on kind runtime
  pkg/kwokctl/runtime/kind/cluster.go
Labels: kind/bug, approved, size/XS, cncf-cla: yes, release-note

#1228 [kwokctl] Structured Prometheus configuration
  pkg/kwokctl/components/config/prometheus/types.go
  pkg/kwokctl/components/prometheus_config.go
  pkg/kwokctl/components/prometheus_config.yaml.tpl
  test/e2e/kwokctl/dryrun/testdata/binary/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/binary/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/docker/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/docker/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/kind/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/kind/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/podman/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/podman/create_cluster_with_verbosity.txt
Labels: size/XXL, approved, kind/cleanup, cncf-cla: yes, release-note-none

#1234 [kwokctl] Enable tracing for etcd
  pkg/kwokctl/components/etcd.go
  pkg/kwokctl/components/jaeger.go
  pkg/kwokctl/runtime/binary/cluster.go
  pkg/kwokctl/runtime/compose/cluster.go
  pkg/kwokctl/runtime/kind/kind.go
  test/e2e/kwokctl/dryrun/testdata/binary/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/binary/start_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/docker/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/kind/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/podman/create_cluster_with_verbosity.txt
Labels: kind/feature, approved, cncf-cla: yes, release-note, size/M

#1229 [kwokctl] Generically enable/disable a component
  pkg/apis/config/v1alpha1/kwokctl_configuration_types.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/internalversion/kwokctl_configuration_types.go
  pkg/apis/internalversion/zz_generated.conversion.go
  pkg/apis/internalversion/zz_generated.deepcopy.go
  pkg/config/vars.go
  pkg/kwokctl/cmd/create/cluster/cluster.go
  pkg/kwokctl/runtime/binary/cluster.go
  pkg/kwokctl/runtime/cluster.go
  pkg/kwokctl/runtime/compose/cluster.go
  pkg/kwokctl/runtime/kind/cluster.go
  site/content/en/docs/generated/apis.md
  site/content/en/docs/generated/kwokctl_create_cluster.md
Labels: kind/feature, size/XXL, approved, kind/documentation, kind/api-change, cncf-cla: yes, release-note

#1235 [kwokctl] Set up metrics-usage.yaml as default
  kustomize/metrics/resource/embed.go
  kustomize/metrics/usage/embed.go
  pkg/kwokctl/runtime/cluster.go
Labels: kind/feature, approved, cncf-cla: yes, release-note, size/M
