Repository kubernetes-sigs/kwok, pull requests merged in 2024-08, with the labels that each got.

#1188 Migration for benchmark tests
  test/e2e/benchmark.go
  test/e2e/kwokctl/binary/kubectl_test.go
Labels: kind/feature, ok-to-test, approved, cncf-cla: yes, lgtm, release-note-none, size/L

#1177 Scalability Testing with KWOK (Technical Outcome)
  Makefile
  site/config.yaml
  site/content/en/docs/technical-outcomes/scalability/_index.md
  site/content/en/docs/technical-outcomes/scalability/scale-using-ca/_index.md
  site/content/en/docs/technical-outcomes/scalability/scale-using-hpa/_index.md
  site/content/en/docs/technical-outcomes/scalability/scale-using-hpa/deployment.yaml
  site/content/en/docs/technical-outcomes/scalability/scale-using-hpa/hpa.yaml
  site/content/en/docs/technical-outcomes/scalability/scale-using-hpa/scale-using-hpa.cast
  site/content/en/docs/technical-outcomes/scalability/scale-using-hpa/scale-using-hpa.demo
  site/content/en/docs/technical-outcomes/scalability/scale-using-hpa/scale-using-hpa.svg
  site/content/en/docs/technical-outcomes/scalability/scale-using-karpenter/_index.md
  site/content/en/docs/technical-outcomes/scalability/scale-using-vpa/_index.md
  site/content/en/docs/technical-outcomes/scalability/scale-using-vpa/deployment.yaml
  site/content/en/docs/technical-outcomes/scalability/scale-using-vpa/scale-using-vpa.cast
  site/content/en/docs/technical-outcomes/scalability/scale-using-vpa/scale-using-vpa.demo
  site/content/en/docs/technical-outcomes/scalability/scale-using-vpa/scale-using-vpa.svg
  site/content/en/docs/technical-outcomes/scalability/scale-using-vpa/vpa.yaml
Labels: kind/feature, ok-to-test, size/XXL, approved, kind/documentation, cncf-cla: yes, lgtm, release-note-none

#1193 The stage test delay is no longer a value but a range.
  kustomize/stage/node/chaos/testdata/node-not-ready.output.yaml
  pkg/tools/stage/stage.go
  pkg/utils/lifecycle/lifecycle.go
Labels: approved, kind/cleanup, cncf-cla: yes, size/M, release-note-none

#1194 fix typo in stages-configuration.md
  site/content/en/docs/user/stages-configuration.md
Labels: ok-to-test, approved, kind/documentation, size/XS, cncf-cla: yes, lgtm, release-note-none

#1196 Update docs
  netlify.toml
  site/.gitignore
  site/config.yaml
  site/content/en/docs/user/kwok-in-cluster.md
  site/content/en/docs/user/kwokctl-auditing.md
  site/content/en/docs/user/kwokctl-platform-specific-binaries.md
  site/layouts/partials/docs/menu.html
  site/layouts/shortcodes/code-sample.html
Labels: approved, kind/documentation, cncf-cla: yes, size/M, release-note-none

#1199 Bump go to 1.23
  .dependencies.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/releases.yaml
  .github/workflows/test.yaml
  .golangci.yaml
  go.mod
  hack/requirements.sh
  hack/update-go-lint.sh
  hack/verify-all.sh
  hack/verify-go-lint.sh
  pkg/kwok/server/debugging_logs_test.go
  pkg/kwokctl/cmd/hack/del/del.go
  pkg/kwokctl/cmd/hack/get/get.go
  pkg/kwokctl/cmd/hack/put/put.go
Labels: approved, kind/cleanup, cncf-cla: yes, size/M, release-note-none

#1180 Add field of override for component extraArgs
  pkg/apis/config/v1alpha1/kwokctl_configuration_types.go
  pkg/apis/internalversion/kwokctl_configuration_types.go
  pkg/apis/internalversion/zz_generated.conversion.go
  pkg/kwokctl/runtime/binary/cluster.go
  pkg/kwokctl/runtime/compose/cluster.go
  pkg/kwokctl/runtime/kind/cluster.go
  pkg/kwokctl/runtime/util.go
  pkg/kwokctl/runtime/util_test.go
  site/content/en/docs/generated/apis.md
Labels: kind/feature, ok-to-test, approved, kind/documentation, kind/api-change, cncf-cla: yes, release-note, lgtm, size/L

#1190 Performance Testing with KWOK (Technical Outcome)
  site/config.yaml
  site/content/en/docs/technical-outcomes/performance/_index.md
  site/content/en/docs/technical-outcomes/performance/control-plane/multi-cluster/_index.md
  site/content/en/docs/technical-outcomes/performance/control-plane/single-cluster/_index.md
  site/content/en/docs/technical-outcomes/performance/etcd/_index.md
Labels: kind/feature, ok-to-test, approved, kind/documentation, cncf-cla: yes, lgtm, release-note-none, size/L

#1206 Use k8s.io/cri-client/pkg/logs instead of copied code
  go.mod
  go.sum
  pkg/kwok/server/debugging_attach.go
  pkg/kwok/server/debugging_logs.go
  pkg/kwok/server/debugging_logs_test.go
Labels: kind/feature, size/XXL, approved, kind/cleanup, cncf-cla: yes, release-note-none

#1195 Migration for shell workable tests to e2e
  test/e2e/kwokctl/binary/kubectl_test.go
  test/e2e/kwokctl/binary/main_test.go
  test/e2e/kwokctl/docker/kubectl_test.go
  test/e2e/kwokctl/docker/main_test.go
  test/e2e/kwokctl/dryrun/testdata/binary/export_logs.txt
  test/e2e/kwokctl/dryrun/testdata/binary/snapshot_restore_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/binary/snapshot_save_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/binary/start_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/binary/stop_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/docker/export_logs.txt
  test/e2e/kwokctl/dryrun/testdata/docker/start_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/docker/stop_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/export_logs.txt
  test/e2e/kwokctl/dryrun/testdata/kind/export_logs.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/export_logs.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/start_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/stop_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/podman/export_logs.txt
  test/e2e/kwokctl/dryrun/testdata/podman/start_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/podman/stop_cluster.txt
  test/e2e/kwokctl/kind-podman/kubectl_test.go
  test/e2e/kwokctl/kind-podman/main_test.go
  test/e2e/kwokctl/kind/kubectl_test.go
  test/e2e/kwokctl/kind/main_test.go
  test/e2e/kwokctl/nerdctl/kubectl_test.go
  test/e2e/kwokctl/nerdctl/main_test.go
  test/e2e/kwokctl/podman/kubectl_test.go
  test/e2e/kwokctl/podman/main_test.go
  test/e2e/workable.go
Labels: kind/feature, ok-to-test, approved, cncf-cla: yes, lgtm, release-note-none, size/L

#1207 Bump etcd
  go.mod
  go.sum
  pkg/kwokctl/k8s/etcd.go
  pkg/kwokctl/k8s/etcd_test.go
  site/content/en/docs/generated/kwokctl_create_cluster.md
  test/e2e/kwokctl/dryrun/testdata/binary/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/binary/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/binary/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/binary/snapshot_restore_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/binary/snapshot_save_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/docker/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/docker/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/docker/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/docker/snapshot_restore_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/snapshot_restore_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/kind/snapshot_restore_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/snapshot_restore_etcd.txt
  test/e2e/kwokctl/dryrun/testdata/podman/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/podman/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/podman/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/podman/snapshot_restore_etcd.txt
Labels: approved, kind/cleanup, kind/documentation, cncf-cla: yes, release-note-none, size/L

#1018 Supports load config from kustomize
  pkg/config/config.go
  test/e2e/kustomization.yaml
  test/e2e/kwokctl/binary/main_test.go
  test/e2e/kwokctl/docker/main_test.go
  test/e2e/kwokctl/kind-podman/main_test.go
  test/e2e/kwokctl/kind/main_test.go
  test/e2e/kwokctl/nerdctl/main_test.go
  test/e2e/kwokctl/podman/main_test.go
Labels: kind/feature, approved, cncf-cla: yes, release-note, size/M
