Repository kubernetes-sigs/kwok, pull requests merged in 2024-11, with the labels that each got.

#1257 Update the snapshot docs
  site/content/en/docs/user/kwokctl-snapshot.md
Labels: approved, kind/documentation, cncf-cla: yes, size/M, release-note-none

#1260 Fix quantity scaling in cel calculations
  pkg/kwok/metrics/evaluator_test.go
  pkg/utils/cel/funcs_test.go
  pkg/utils/cel/quantity.go
  pkg/utils/cel/quantity_test.go
Labels: kind/bug, ok-to-test, approved, cncf-cla: yes, release-note, lgtm, size/L

#1272 Bump k8s
  .dependencies.yaml
  go.mod
  go.sum
  hack/requirements.sh
  pkg/consts/consts.go
  pkg/kwokctl/k8s/feature_gates_data.go
  site/content/en/docs/generated/kwokctl_create_cluster.md
  supported_releases.txt
  test/e2e/kwokctl/dryrun/testdata/binary/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/binary/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/binary/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/docker/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/docker/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/docker/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/kind-podman/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/kind/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/kind/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/kind/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/nerdctl/create_cluster_with_verbosity.txt
  test/e2e/kwokctl/dryrun/testdata/podman/create_cluster.txt
  test/e2e/kwokctl/dryrun/testdata/podman/create_cluster_with_extra.txt
  test/e2e/kwokctl/dryrun/testdata/podman/create_cluster_with_verbosity.txt
  test/release/testdata/build-with-push-bucket-staging.txt
  test/release/testdata/build-with-push-bucket.txt
  test/release/testdata/build-with-push-ghrelease.txt
  test/release/testdata/build.txt
  test/release/testdata/cluster-image-nerdctl-with-push-staging.txt
  test/release/testdata/cluster-image-nerdctl-with-push.txt
  test/release/testdata/cluster-image-nerdctl.txt
  test/release/testdata/cluster-image-podman-with-push-staging.txt
  test/release/testdata/cluster-image-podman-with-push.txt
  test/release/testdata/cluster-image-podman.txt
  test/release/testdata/cluster-image-with-push-staging.txt
  test/release/testdata/cluster-image-with-push.txt
  test/release/testdata/cluster-image.txt
  test/release/testdata/cross-build-with-push-bucket-staging.txt
  test/release/testdata/cross-build-with-push-bucket.txt
  test/release/testdata/cross-build-with-push-ghrelease.txt
  test/release/testdata/cross-build.txt
  test/release/testdata/cross-cluster-image-nerdctl-with-push-staging.txt
  test/release/testdata/cross-cluster-image-nerdctl-with-push.txt
  test/release/testdata/cross-cluster-image-nerdctl.txt
  test/release/testdata/cross-cluster-image-podman-with-push-staging.txt
  test/release/testdata/cross-cluster-image-podman-with-push.txt
  test/release/testdata/cross-cluster-image-podman.txt
  test/release/testdata/cross-cluster-image-with-push-staging.txt
  test/release/testdata/cross-cluster-image-with-push.txt
  test/release/testdata/cross-cluster-image.txt
Labels: size/XL, approved, kind/cleanup, kind/documentation, cncf-cla: yes, release-note-none
