Repository kubernetes-sigs/kwok, pull requests merged in 2024-03, with the labels that each got.

#976 Fix failure test
  test/e2e/kwokctl/kind-podman/kubectl_test.go
  test/e2e/kwokctl/kind-podman/main_test.go
  test/e2e/kwokctl/kind/kubectl_test.go
  test/e2e/kwokctl/kind/main_test.go
  test/kwok-with-cni/kwok-with-cni.test.sh
Labels: approved, kind/failing-test, kind/documentation, cncf-cla: yes, size/M, release-note-none

#978 Remove docker-compose api
  pkg/apis/config/v1alpha1/kwokctl_configuration_types.go
  pkg/apis/internalversion/kwokctl_configuration_types.go
  pkg/apis/internalversion/zz_generated.conversion.go
  pkg/config/vars.go
  pkg/consts/consts.go
  pkg/kwokctl/cmd/create/cluster/cluster.go
  pkg/kwokctl/runtime/cluster.go
  site/content/en/docs/generated/apis.md
Labels: approved, kind/cleanup, kind/documentation, kind/api-change, cncf-cla: yes, release-note, size/L

#985 Fix updates for both delete and immediateNextStage
  pkg/kwok/controllers/node_controller.go
  pkg/kwok/controllers/pod_controller.go
  pkg/kwok/controllers/stage_controller.go
Labels: kind/bug, approved, size/XS, cncf-cla: yes, release-note

#983 Bump releases of k8s
  .github/workflows/test.yaml
  supported_releases.txt
  test/release/testdata/build-with-push-bucket-staging.txt
  test/release/testdata/build-with-push-bucket.txt
  test/release/testdata/build-with-push-ghrelease.txt
  test/release/testdata/build.txt
  test/release/testdata/cluster-image-nerdctl-with-push-staging.txt
  test/release/testdata/cluster-image-nerdctl-with-push.txt
  test/release/testdata/cluster-image-nerdctl.txt
  test/release/testdata/cluster-image-podman-with-push-staging.txt
  test/release/testdata/cluster-image-podman-with-push.txt
  test/release/testdata/cluster-image-podman.txt
  test/release/testdata/cluster-image-with-push-staging.txt
  test/release/testdata/cluster-image-with-push.txt
  test/release/testdata/cluster-image.txt
  test/release/testdata/cross-build-with-push-bucket-staging.txt
  test/release/testdata/cross-build-with-push-bucket.txt
  test/release/testdata/cross-build-with-push-ghrelease.txt
  test/release/testdata/cross-build.txt
  test/release/testdata/cross-cluster-image-nerdctl-with-push-staging.txt
  test/release/testdata/cross-cluster-image-nerdctl-with-push.txt
  test/release/testdata/cross-cluster-image-nerdctl.txt
  test/release/testdata/cross-cluster-image-podman-with-push-staging.txt
  test/release/testdata/cross-cluster-image-podman-with-push.txt
  test/release/testdata/cross-cluster-image-podman.txt
  test/release/testdata/cross-cluster-image-with-push-staging.txt
  test/release/testdata/cross-cluster-image-with-push.txt
  test/release/testdata/cross-cluster-image.txt
Labels: approved, kind/cleanup, cncf-cla: yes, release-note-none, size/L

#988 Fix stage event object
  pkg/kwok/controllers/stage_controller.go
Labels: kind/bug, approved, size/XS, cncf-cla: yes, release-note

#995 Fix failed e2e test with docker
  .github/workflows/test.yaml
Labels: approved, kind/failing-test, size/XS, cncf-cla: yes, release-note-none

#998 Remove e2e test with docker on MacOS
  .github/workflows/test.yaml
  site/content/en/_index.md
Labels: approved, kind/failing-test, kind/documentation, size/XS, cncf-cla: yes, release-note-none

#987 Refactor informer
  pkg/utils/informer/informer.go
Labels: approved, kind/cleanup, size/S, cncf-cla: yes, release-note-none

#971 Support extra args
  pkg/kwokctl/cmd/create/cluster/cluster.go
  pkg/kwokctl/runtime/kind/cluster.go
  site/content/en/docs/generated/kwokctl_create_cluster.md
Labels: kind/feature, ok-to-test, tide/merge-method-squash, approved, kind/documentation, kind/api-change, cncf-cla: yes, release-note, lgtm, size/M

#990 Deprecate disregard-status-* and use Stage API instead
  kustomize/kwok/deployment.yaml
  pkg/apis/config/v1alpha1/kwok_configuration_types.go
  pkg/apis/internalversion/kwok_configuration_types.go
  pkg/kwok/cmd/root.go
  site/content/en/docs/generated/apis.md
  site/content/en/docs/generated/kwok.md
  site/content/en/docs/user/kwok-out-cluster.md
Labels: approved, kind/cleanup, kind/documentation, kind/api-change, cncf-cla: yes, release-note, size/M

#1000 docs: keep writing consistent across pages
  site/content/en/docs/user/attach-configuration.md
  site/content/en/docs/user/exec-configuration.md
  site/content/en/docs/user/logs-configuration.md
  site/content/en/docs/user/port-forward-configuration.md
Labels: ok-to-test, approved, kind/documentation, cncf-cla: yes, lgtm, release-note-none, size/L

#975 document ResourceUsage and Metrics CR
  demo/resource-usage.demo
  demo/resource-usage.svg
  kustomize/metrics/resource/README.md
  kustomize/metrics/usage/README.md
  site/config.yaml
  site/content/en/docs/user/_index.md
  site/content/en/docs/user/cel-expressions.md
  site/content/en/docs/user/go-template.md
  site/content/en/docs/user/kwok-in-cluster.md
  site/content/en/docs/user/metrics-configuration.md
  site/content/en/docs/user/resource-usage-configuration.md
  site/content/en/docs/user/stages-configuration.md
  site/static/img/demo/resource-usage.svg
Labels: ok-to-test, tide/merge-method-squash, approved, kind/documentation, kind/api-change, cncf-cla: yes, lgtm, release-note-none, size/L

#1005 Bump hugo
  netlify.toml
  site/layouts/partials/docs/menu-hugo.html
Labels: approved, kind/cleanup, kind/documentation, size/XS, cncf-cla: yes, release-note-none

#999 [kwokctl] Add --kube-apiserver-insecure-port for create cluster
  pkg/apis/config/v1alpha1/kwokctl_configuration_types.go
  pkg/apis/internalversion/kwokctl_configuration_types.go
  pkg/apis/internalversion/zz_generated.conversion.go
  pkg/config/vars.go
  pkg/consts/consts.go
  pkg/kwokctl/cmd/create/cluster/cluster.go
  pkg/kwokctl/components/kubectl_proxy.go
  pkg/kwokctl/runtime/binary/cluster.go
  pkg/kwokctl/runtime/binary/cluster_context.go
  pkg/kwokctl/runtime/cluster.go
  pkg/kwokctl/runtime/compose/cluster.go
  pkg/kwokctl/runtime/compose/cluster_context.go
  pkg/kwokctl/runtime/kind/cluster.go
  pkg/kwokctl/runtime/kind/cluster_context.go
  pkg/kwokctl/runtime/kind/kind.go
  pkg/kwokctl/runtime/kind/kind.yaml.tpl
  site/content/en/docs/generated/apis.md
  site/content/en/docs/generated/kwokctl_create_cluster.md
Labels: kind/feature, size/XL, approved, kind/documentation, kind/api-change, cncf-cla: yes, release-note

#1004 Clarify the docs of resource usage
  site/config.yaml
  site/content/en/docs/examples/argo.md
  site/content/en/docs/examples/istio.md
  site/content/en/docs/examples/linkerd.md
  site/content/en/docs/examples/metrics-server.md
  site/content/en/docs/user/cel-expressions.md
  site/content/en/docs/user/go-template.md
  site/content/en/docs/user/metrics-configuration.md
  site/content/en/docs/user/resource-usage-configuration.md
  site/content/en/docs/user/stages-configuration.md
Labels: approved, kind/documentation, cncf-cla: yes, release-note-none, size/L

#1012 [kwokctl] Fix output of dryrun in close file
  pkg/kwokctl/dryrun/dryrun.go
Labels: kind/bug, approved, size/XS, cncf-cla: yes, release-note
