Repository kubernetes-sigs/kwok, pull requests merged in 2025-02, with the labels that each got.

#1305 feat: add additional options in helm chart
  charts/kwok/README.md
  charts/kwok/templates/deployment.yaml
  charts/kwok/values.yaml
Labels: kind/feature, approved, cncf-cla: yes, lgtm, size/M, release-note-none

#1308 Release kwok chart 0.1.2
  site/static/charts/index.yaml
Labels: approved, kind/cleanup, size/S, kind/documentation, cncf-cla: yes, lgtm, release-note-none

#1309 Remove the broken release chart ci
  .github/workflows/helm-releases.yaml
Labels: approved, cncf-cla: yes, size/M, release-note-none

#1311 Fix CI
  .github/workflows/test.yaml
Labels: approved, kind/failing-test, cncf-cla: yes, size/M, release-note-none
