Repository kubernetes-sigs/kwok, pull requests merged in 2025-04, with the labels that each got.

#1336 Support for configuring previous container logs
  kustomize/crd/bases/kwok.x-k8s.io_clusterlogs.yaml
  kustomize/crd/bases/kwok.x-k8s.io_logs.yaml
  pkg/apis/internalversion/conversion.go
  pkg/apis/internalversion/logs_types.go
  pkg/apis/internalversion/zz_generated.conversion.go
  pkg/apis/v1alpha1/logs_types.go
  pkg/apis/v1alpha1/zz_generated.deepcopy.go
  pkg/kwok/server/debugging_logs.go
  site/content/en/docs/generated/apis.md
  site/content/en/docs/user/logs-configuration.md
Labels: kind/feature, ok-to-test, tide/merge-method-squash, approved, kind/documentation, kind/api-change, cncf-cla: yes, release-note, lgtm, size/M

#1341 Flow control exemption
  charts/kwok/templates/flow_schema.yaml
  hack/update-helm-charts.sh
  kustomize/rbac/flow_schema.yaml
  kustomize/rbac/kustomization.yaml
Labels: kind/feature, approved, cncf-cla: yes, release-note, size/M

#1345 Customize the number of workers to sync nodes in parallel
  pkg/apis/config/v1alpha1/kwok_configuration_types.go
  pkg/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/apis/internalversion/kwok_configuration_types.go
  pkg/apis/internalversion/zz_generated.conversion.go
  pkg/kwok/cmd/root.go
  pkg/kwok/controllers/controller.go
  pkg/kwok/controllers/controller_test.go
  site/content/en/docs/generated/apis.md
  test/kwok/kwok.test.sh
Labels: kind/feature, approved, kind/documentation, kind/api-change, cncf-cla: yes, release-note, lgtm, size/M

#1351 Add enablePodsOnNodeSyncListPager option to switch between watch list and pager list to sync pods on node
  pkg/apis/config/v1alpha1/kwok_configuration_types.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/apis/internalversion/kwok_configuration_types.go
  pkg/apis/internalversion/zz_generated.conversion.go
  pkg/kwok/cmd/root.go
  pkg/kwok/controllers/controller.go
  pkg/kwok/controllers/controller_test.go
  pkg/utils/informer/event.go
  pkg/utils/informer/informer.go
  site/content/en/docs/generated/apis.md
Labels: kind/feature, approved, kind/documentation, kind/api-change, cncf-cla: yes, release-note, lgtm, size/M

#1349 Update the all-in-one image docs
  site/content/en/docs/user/all-in-one-image.md
Labels: approved, kind/documentation, size/XS, cncf-cla: yes, release-note-none

#1353 Fix unit test for controller after adding PodsOnNodeSyncParallelism.
  pkg/kwok/controllers/controller_test.go
Labels: kind/bug, approved, size/S, cncf-cla: yes, lgtm, release-note-none

#1355 Enable stream watcher to sync pods on node.
  pkg/apis/config/v1alpha1/kwok_configuration_types.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/apis/internalversion/kwok_configuration_types.go
  pkg/apis/internalversion/zz_generated.conversion.go
  pkg/kwok/cmd/root.go
  pkg/kwok/controllers/controller.go
  pkg/kwok/controllers/controller_test.go
  pkg/utils/informer/event.go
  pkg/utils/informer/informer.go
  site/content/en/docs/generated/apis.md
Labels: kind/feature, approved, kind/documentation, kind/api-change, cncf-cla: yes, release-note, lgtm, size/L

#1357 fix:update podCIDR in node configuration from 10.0.0.1/24 to 10.0.0.0/24
  kustomize/kwokctl/resource/node.yaml
Labels: kind/bug, ok-to-test, approved, size/XS, cncf-cla: yes, lgtm, release-note-none

#1358 Bump golangci to 1.64.8
  .dependencies.yaml
  .github/workflows/golangci-lint.yaml
  .golangci.yaml
  hack/update-go-lint.sh
  hack/verify-go-lint.sh
  pkg/apis/action/v1alpha1/resource_patch_types.go
  pkg/kwok/controllers/stages_manager.go
  pkg/kwok/metrics/metrics.go
  pkg/kwok/server/metrics_resource_usage.go
  pkg/kwok/server/server.go
  pkg/kwokctl/components/config/prometheus/types.go
  pkg/kwokctl/etcd/etcd.go
  pkg/kwokctl/etcd/init.go
  pkg/kwokctl/recording/speed.go
  pkg/kwokctl/runtime/cluster.go
  pkg/kwokctl/runtime/compose/self_compose.go
  pkg/kwokctl/runtime/config.go
  pkg/kwokctl/runtime/kind/cluster_snapshot.go
  pkg/kwokctl/runtime/util.go
  pkg/kwokctl/snapshot/save.go
  pkg/tools/stage/stage.go
  pkg/utils/cel/default.go
  pkg/utils/client/impersonator.go
  pkg/utils/exec/exec.go
  site/content/en/docs/generated/apis.md
  test/e2e/attach.go
  test/e2e/benchmark.go
  test/e2e/benchmark_hack.go
  test/e2e/dryrun.go
  test/e2e/ensure_pod_scheduled_conditions.go
  test/e2e/export_logs.go
  test/e2e/hack.go
  test/e2e/logs.go
  test/e2e/resource_usage.go
  test/e2e/workable.go
Labels: approved, kind/cleanup, kind/documentation, kind/api-change, cncf-cla: yes, release-note-none, size/L

#1362 Bump go to 1.24
  .dependencies.yaml
  .github/workflows/benchmark.yaml
  .github/workflows/golangci-lint.yaml
  .github/workflows/releases.yaml
  .github/workflows/test.yaml
  .golangci.yaml
  go.mod
  hack/requirements.sh
Labels: approved, kind/cleanup, cncf-cla: yes, size/M, release-note-none
